{% extends "base.html" %}

{% block content %}
    <header><h1>Delete account</h1></header>
    <section class="deregister-form">
        <form method="post">
            <div class="form-group">
                <label for="email">Name</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="user@example.com"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <button type="submit" class="btn btn-danger">Delete account</button>
        </form>
    </section>
{% endblock %}