{% extends "base.html" %}

{% block content %}
    <header><h1> Create Alert </h1></header>
    <section class="form">
        <form method="post">
            <div class="form-group">
                <label for="state">State</label>
                <select class="selectpicker form-control" title="Select state or the entire US to track" id="state" name="state">
                    {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="case_limit">Case limit</label>
                <input type="text" class="form-control" id="case_limit" name="case_limit" placeholder="500" aria-describedby="priceLimitHelp"/>
                <small id="priceLimitHelp" class="form-text text-muted">
                    Above how many new cases would you like get notified?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </section>
{% endblock %}