{% extends "base.html" %}

{% block content %}
<header>
    <h1>Popular locations subscribed by our users</h1>
</header>
<section>
    <div class="list-group mb-3">
        {% for report, subs in zip(reports, subscribers) %}
        <li class="list-group-item">
            <h4>{{ report.state_name }}</h4>
            <p>
                <a href="{{ url_for('reports.plot_report', report_id=report._id) }}">{{ report.state_name }} (New cases: {{ report.current['positiveIncrease'] }}, number of subscribers: {{ subs }} ) <span class="fa fa-bar-chart" style="font-size:30px;color:blue;"></span> </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger float-md-right" data-toggle="modal" data-target="#exampleModal"><span class="fa fa-trash" style="font-size:30px;color:black;"></span> Remove from database</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">You are removing report for {{ report.state_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        You are removing {{ report.state_name }} from the database, all users subscribed to alerts for {{ report.state_name }} will no longer get notifications for {{ report.state_name }}. Are you sure you want to continue?
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-danger" href="{{ url_for('reports.delete_report', report_id=report._id) }}">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
            </p>
        </li>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ url_for('alerts.new_alert') }}">
        Create new
    </a>
</section>

{% endblock %}